<h1><%= @study.name %></h1>
<%= link_to 'Edit', edit_study_path(@study), class: 'btn btn-primary btn-sm' %>

<h2 class="mt-5">Utilisateurs</h2>
<ul class="list-unstyled">
  <% @study.persons.each do |person| %>
    <li><%= link_to person, person %></li>
  <% end %>
</ul>
<%= link_to 'New Person', new_person_path(study_id: @study.id), class: 'btn btn-primary btn-sm' %>

<h2 class="mt-5">Variables</h2>
<table class="table">
  <thead>
    <tr>
      <th>Variable</th>
      <th>Clusters</th>
    </tr>
  </thead>
  <% @study.variables.each do |variable| %>
    <tr>
      <td><%= link_to variable, variable %></td>
      <td>
        <% variable.clusters.each do |cluster| %>
          <span class="badge badge-primary"><%= cluster %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Variable', new_variable_path(study_id: @study.id), class: 'btn btn-primary btn-sm' %>
